h2 {
    font-size: 24px;
}

button.reset-button {
    position: absolute;
    top: 200px;
    right: 10px;
    background-color: #f00; 
    color: #fff; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 30px;
  }